[submodule "libpicofe"]
	path = frontend/libpicofe
	url = https://github.com/notaz/libpicofe.git
[submodule "warm"]
	path = frontend/warm
	url = https://github.com/notaz/warm.git
[submodule "libchdr"]
	path = deps/libchdr
	url = https://github.com/rtissera/libchdr.git
[submodule "deps/lightrec"]
	path = deps/lightrec
	url = https://github.com/pcercuei/lightrec.git
[submodule "deps/lightning"]
	path = deps/lightning
	url = https://github.com/notaz/gnu_lightning.git
[submodule "deps/libretro-common"]
	path = deps/libretro-common
	url = https://github.com/libretro/libretro-common.git
[submodule "deps/mman"]
	path = deps/mman
	url = https://github.com/witwall/mman-win32
