[submodule "libpicofe"]
	path = frontend/libpicofe
	url = https://github.com/notaz/libpicofe.git
[submodule "warm"]
	path = frontend/warm
	url = https://github.com/notaz/warm.git
[submodule "libchdr"]
	path = deps/libchdr
	url = https://github.com/rtissera/libchdr.git
