*.o
*.a
*.swp
*.so
*.d
tags
cscope.out
compile_commands.json
.gdb_history
pandora
pcsx.map
config.mak
config.log
cheatpops.db
frontend/revision.h
tools
obj/
.vscode/
.vscode/ipch/*

pcsx
pcsx_rearmed_libretro.dll
pcsxr_spu_area3.out
psx_gpu_offsets_update
/frontend/320240/pollux_set

/out/
/pcsx_bin/
/.pcsx/
/screenshots/
/skin
/bios/
/old/
/a/
